wildfly-10.1.0.Final/standalone/data/wsdl/EventoWS.war/EventoServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicoweb.evento.ifma.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EventoServiceService" targetNamespace="http://servicoweb.evento.ifma.com.br/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicoweb.evento.ifma.com.br/" elementFormDefault="unqualified" targetNamespace="http://servicoweb.evento.ifma.com.br/" version="1.0">

  <xs:element name="listarClientesPorEvento" type="tns:listarClientesPorEvento"/>

  <xs:element name="listarClientesPorEventoResponse" type="tns:listarClientesPorEventoResponse"/>

  <xs:element name="listarTodosOsClientesPorEvento" type="tns:listarTodosOsClientesPorEvento"/>

  <xs:element name="listarTodosOsClientesPorEventoResponse" type="tns:listarTodosOsClientesPorEventoResponse"/>

  <xs:complexType name="listarTodosOsClientesPorEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listarTodosOsClientesPorEventoResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:evento"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nomeEvento" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpf" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nomeCliente" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listarClientesPorEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listarClientesPorEventoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:evento"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="listarTodosOsClientesPorEvento">
    <wsdl:part element="tns:listarTodosOsClientesPorEvento" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarClientesPorEventoResponse">
    <wsdl:part element="tns:listarClientesPorEventoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarClientesPorEvento">
    <wsdl:part element="tns:listarClientesPorEvento" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarTodosOsClientesPorEventoResponse">
    <wsdl:part element="tns:listarTodosOsClientesPorEventoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EventoService">
    <wsdl:operation name="listarTodosOsClientesPorEvento">
      <wsdl:input message="tns:listarTodosOsClientesPorEvento" name="listarTodosOsClientesPorEvento">
    </wsdl:input>
      <wsdl:output message="tns:listarTodosOsClientesPorEventoResponse" name="listarTodosOsClientesPorEventoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarClientesPorEvento">
      <wsdl:input message="tns:listarClientesPorEvento" name="listarClientesPorEvento">
    </wsdl:input>
      <wsdl:output message="tns:listarClientesPorEventoResponse" name="listarClientesPorEventoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventoServiceServiceSoapBinding" type="tns:EventoService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listarTodosOsClientesPorEvento">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarTodosOsClientesPorEvento">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarTodosOsClientesPorEventoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarClientesPorEvento">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarClientesPorEvento">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarClientesPorEventoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventoServiceService">
    <wsdl:port binding="tns:EventoServiceServiceSoapBinding" name="EventoServicePort">
      <soap:address location="http://localhost:8080/EventoWS/EventoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>